.header {
  text-align: center;
}

.titel {
  margin-bottom: 5px;
}

.button {
  width: 60px;
  height: 25px;
  margin-bottom: 5px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  transition: all 250ms linear;
}
.button__new-game {
  width: 90px;
}

.button:hover,
.button:focus {
  background-color: palevioletred;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.joystick {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .joystick {
    display: block;
    margin: 0 auto;
    opacity: 0.3;
  }
}
